@{
    ViewData["Title"] = "Relatório de Eventos - Fornecedor";
}
@using System.Globalization;
@model List<KPI.Models.DashboardEventoModel>
@section Scripts{
    <script>
        var table = new DataTable('#dataTable', {
            language: {
                url: '/js/pt-BR.json',
            },
            dom: 'Bfrtip',
            buttons: [{
                extend: 'excelHtml5',
                text: 'Salvar no Excel',
                title: 'Relatório de Eventos - Fornecedor',
                autoFilter: true,
                sheetName: 'Fornecedor - Exportado KPI'
            }]
        });
    </script>
}
<div class="card">
    <h4>Relatório de Eventos - Fornecedor</h4><h6>Em @DateTime.Now</h6>
    <hr />
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>CPE</th>
                        <th>Data Solicitação</th>
                        <th>Processo</th>
                        <th>Data Início Evento</th>
                        <th>Data Fim Evento</th>
                        <th>Endereço Evento</th>
                        <th>Nome do Evento</th>
                        <th>Empresa Solicitante</th>
                        <th>CNPJ</th>
                        <th>Inscrição Municipal</th>
                        <th>Endereço Empresa</th>
                        <th>Área</th>
                        <th>Status</th>
                        <th>Organizador/Fornecedor</th>
                        <th>Data Pagamento</th>
                        <th>Valor Pagamento</th>
                        <th>Atividades Exercidas</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CPE</td>
                            <td>@item.DataDaSolicitacao.ToShortDateString()</td>
                            <td>@item.Processo</td>
                            <td>@item.DataInicioEvento.ToShortDateString()</td>
                            <td>@item.DataFimEvento.ToShortDateString()</td>
                            <td>@item.EnderecoEvento</td>
                            <td>@item.NomeDoEvento</td>
                            <td>@item.RazaoSocial</td>
                            <td>@item.CNPJ</td>
                            <td>@item.InscricaoMunicipal</td>
                            <td>@item.EnderecoEmpresa</td>
                            <td>@item.Area</td>
                            <td>@item.Status</td>
                            <td>@item.Fornecedor</td>
                            <td>@item.DataPagamento.ToShortDateString()</td>
                            <td>@item.ValorPagamento.ToString("C")</td>
                            <td>@item.AtividadesExercidas</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="loader"></div>