@{
    ViewData["Title"] = "Relatório de Eventos Por Período - Fornecedor";
}
@using System.Globalization;
@model List<KPI.Models.DashboardEventoModel>
@section Scripts{
    <script>
        var table = new DataTable('#dataTable', {
            language: {
                url: '/js/pt-BR.json',
            },
            dom: 'Bfrtip',
            buttons: [{
                extend: 'excelHtml5',
                text: 'Salvar no Excel',
                title: 'Relatório de Eventos Por Período - Fornecedor',
                autoFilter: true,
                sheetName: 'Fornecedor - Exportado KPI'
            }]
        });


        let minDate, maxDate;

        // Custom filtering function which will search data in column FOUR between TWO values
        DataTable.ext.search.push(function (settings, data, dataIndex) {
            let min = minDate.val();
            let max = maxDate.val();
            let date = new Date(data[4]);

            if (
                (min === null && max === null) ||
                (min === null && date <= max) ||
                (min <= date && max === null) ||
                (min <= date && date <= max)
            ) {
                return true;
            }
            return false;
        });

        // Create date inputs
        minDate = new DateTime('#min', {
            format: 'DD/MM/YYYY'
        });
        maxDate = new DateTime('#max', {
            format: 'DD/MM/YYYY'
        });

        // DataTables initialisation
        //let table = new DataTable('#example');

        // Refilter the table
        document.querySelectorAll('#min, #max').forEach((el) => {
            el.addEventListener('change', () => table.draw());
            el.setAttribute('placeholder', 'DD/MM/AAAA');
        });
    </script>
}
<div class="card">
    <h4>Relatório de Eventos Por Período - Fornecedor</h4><h6>Em @DateTime.Now</h6>
    <hr />
    <div class="card-body">
        <div class="table-responsive">
            <table border="0" cellspacing="5" cellpadding="5">
                <tbody>
                    <tr>
                        <td>Filtro por data:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Data Inicial</td>
                        <td><input type="text" id="min" name="min"></td>
                    </tr>
                    <tr>
                        <td>Data Final</td>
                        <td><input type="text" id="max" name="max"></td>
                    </tr>
                </tbody>
            </table>
            <br />
            <table class="table table-sm table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>CPE</th>
                        <th>Data Solicitação</th>
                        <th>Processo</th>
                        <th>Data Início Evento</th>
                        <th>Data Fim Evento</th>
                        <th>Endereço Evento</th>
                        <th>Nome do Evento</th>
                        <th>Empresa Solicitante</th>
                        <th>CNPJ</th>
                        <th>Inscrição Municipal</th>
                        <th>Endereço Empresa</th>
                        <th>Área</th>
                        <th>Status</th>
                        <th>Organizador/Fornecedor</th>
                        <th>Data Pagamento</th>
                        <th>Valor Pagamento</th>
                        <th>Atividades Exercidas</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CPE</td>
                            <td>@item.DataDaSolicitacao.ToShortDateString()</td>
                            <td>@item.Processo</td>
                            <td>@item.DataInicioEvento.ToShortDateString()</td>
                            <td>@item.DataFimEvento.ToShortDateString()</td>
                            <td>@item.EnderecoEvento</td>
                            <td>@item.NomeDoEvento</td>
                            <td>@item.RazaoSocial</td>
                            <td>@item.CNPJ</td>
                            <td>@item.InscricaoMunicipal</td>
                            <td>@item.EnderecoEmpresa</td>
                            <td>@item.Area</td>
                            <td>@item.Status</td>
                            <td>@item.Fornecedor</td>
                            <td>@item.DataPagamento.ToShortDateString()</td>
                            <td>@item.ValorPagamento.ToString("C")</td>
                            <td>@item.AtividadesExercidas</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="loader"></div>