@{
    ViewData["Title"] = "Relatório de Eventos - Organizador";
}

@using Highsoft.Web.Mvc.Charts
@using Highsoft.Web.Mvc.Charts.Rendering

@model List<KPI.Models.DashboardEventoModel>

@section Scripts{
    <script>
        
        var table = new DataTable('#dataTable', {
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json',
            },
        });
    </script>
}
<div>
    <div>
        <h4>Relatório de Eventos - Organizador</h4>
        <hr />
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>CPE</th>
                            <th>DataDaSolicitacao</th>
                            <th>Processo</th>
                            <th>Requerente</th>
                            <th>DataDoEvento</th>
                            <th>DataFimEvento</th>
                            <th>Status</th>
                            <th>LocalDoEvento</th>
                            <th>NomeDoEvento</th>
                            <th>Organizador</th>
                            <th>PublicoEstimadoDeclaradoCPE</th>
                            <th>Area</th>
                            <th>DataPagamento</th>
                            <th>ValorPagamento</th>
                            <th>AtividadesExercidas</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CPE</td>
                                <td>@item.DataDaSolicitacao.ToShortDateString()</td>
                                <td>@item.Processo</td>
                                <td>@item.Requerente</td>
                                <td>@item.DataDoEvento.ToShortDateString()</td>
                                <td>@item.DataFimEvento.ToShortDateString()</td>
                                <td>@item.Status</td>
                                <td>@item.LocalDoEvento</td>
                                <td>@item.NomeDoEvento</td>
                                <td>@item.Organizador</td>
                                <td>@item.PublicoEstimadoDeclaradoCPE</td>
                                <td>@item.Area</td>
                                <td>@item.DataPagamento.ToShortDateString()</td>
                                <td>@item.ValorPagamento.ToString("C")</td>
                                <td>@item.AtividadesExercidas</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
