@{
    ViewData["Title"] = "Total inspecionado por mês";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/funnel.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


@using Highsoft.Web.Mvc.Charts
@using Highsoft.Web.Mvc.Charts.Rendering

@model List<KPI.Models.VisitasDeInspecaoDoEstabelecimento>

@{
    var chartOptions = new Highcharts
            {
                Title = new Title
                {
                    Text = "Total inspecionado por mês"
                },
                XAxis = new List<XAxis> {
                new XAxis {
                        Categories = new List <string> {"1","2","3","4","5","6","7","8","9","10","11","12"}
                    }
                },
                YAxis = new List<YAxis> {
                new YAxis {
                    Title = new YAxisTitle { Text = "Total" },
                    PlotLines = new List<YAxisPlotLines> { new YAxisPlotLines { Value = 0, Width = 1, Color = "#808080" } }
                    }
                },
                Tooltip = new Tooltip
                {
                    Enabled = true,
                    HeaderFormat = "<span style='color:{point.color}'><b>⦿</b></span> <span style='font-size:14px'><b>Mês: {point.key}</b></span><br>",
                    PointFormat = "<table style='font-size:12px'><tr><td>{series.name}</td><td> - {point.y}</td></tr></table>",
                    UseHTML = true

                },
                Legend = new Legend
                {
                    Layout = LegendLayout.Vertical,
                    Align = LegendAlign.Right,
                    VerticalAlign = LegendVerticalAlign.Middle,
                    Title = new LegendTitle { Text = "Ano (Total):" },
                    BorderWidth = 0
                },
                Series = new List<Series> {
                    new LineSeries { Name = "2016 (" + ViewData["total2016Data"] + ")", Data = (List<LineSeriesData>)ViewData["ano2016Data"] },
                    new LineSeries { Name = "2017 (" + ViewData["total2017Data"] + ")", Data = (List<LineSeriesData>)ViewData["ano2017Data"] },
                    new LineSeries { Name = "2018 (" + ViewData["total2018Data"] + ")", Data = (List<LineSeriesData>)ViewData["ano2018Data"] },
                    new LineSeries { Name = "2019 (" + ViewData["total2019Data"] + ")", Data = (List<LineSeriesData>)ViewData["ano2019Data"] },
                    new LineSeries { Name = "2020 (" + ViewData["total2020Data"] + ")", Data = (List<LineSeriesData>)ViewData["ano2020Data"] },
                    new LineSeries { Name = "2021 (" + ViewData["total2021Data"] + ")", Data = (List<LineSeriesData>)ViewData["ano2021Data"] },
                    new LineSeries { Name = "2022 (" + ViewData["total2022Data"] + ")", Data = (List<LineSeriesData>)ViewData["ano2022Data"] },
                    new LineSeries { Name = "2023 (" + ViewData["total2023Data"] + ")", Data = (List<LineSeriesData>)ViewData["ano2023Data"] },
                    new LineSeries { Name = "2024 (" + ViewData["total2024Data"] + ")", Data = (List<LineSeriesData>)ViewData["ano2024Data"] }
                }
            };

    chartOptions.ID = "chart";
    var renderer = new HighchartsRenderer(chartOptions);
}

<div class="card">
    <div class="card-body">
        @Html.Raw(renderer.RenderHtml())
    </div>
</div>
</br>
<div class="card">
    <div class="card-body">
        <h2>Total de inspeções em @ViewBag.Year</h2><h6>Em @DateTime.Now</h6>
        <p></p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Mês
                    </th>
                    <th>
                        Total de Inspeções
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.MesVisita
                        </td>
                        <td>
                            @item.Total
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        Total
                    </th>
                    <th>
                        @ViewBag.Total
                    </th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="loader"></div>